/*
Цвета

Белый: #fff
Полупрозрачный белый: #d7ccc0
Светлый: #f5f4f0
Основной: #fe8a02
Основной тёмный: #42413c
Тёмный: #2a2626
Полупрозрачный тёмный: #908d8b
Коричневый: #b09a81
Синий: #1085c5

Шрифты

font-family: 'Open Sans', serif;
font-family: 'Neucha', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
}

html {
  color: #2a2626;
  font: 16px/1.6em "Open Sans", serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-weight: 400;

  font-family: "Neucha", cursive;

  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  color: #fe8a02;
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  margin: 0;
}

.container {
  width: 1110px;
  max-width: 100%;
  margin: 0 auto;
}

.section {
  padding: 100px 0;
}

.section-bg {
  position: relative;
}

.section-bg::before {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: url(../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: '';
}

.btn {
  padding: 12px 24px;

  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Open Sans', serif;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;

  background: #fe8a02;

  transition: background 0.2s;
}

.btn:hover {
  background: #ea7600;
}

.page-title {
  color: #2a2626;
  font-weight: 400;
}

.page-title__span {
  color: #fe8a02;
  font-weight: 400;
}

.section-errors-in-planning-inner-text-flex__text {
  margin-bottom: 1em;

  color: #2a2626;
}

/* header start */

.header-page {
  position: relative;
  z-index: 1;

  background-color: #f5f4f0;
}

.header-page__container {
  position: relative;

  padding: 100px 0;
}

.header-page__img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.header-page__title {
  position: relative;
  z-index: 2;

  margin-bottom: 185px;
}

.header-page-descr {
  display: flex;
  justify-content: space-between;
}

.header-page-descr__start {
  margin-right: 30px;
}

.header-page-descr__start,
.header-page-descr__end {
  flex-basis: 50%;
}

.header-page-descr__text {
  margin-bottom: 1em;
}

.header-page-descr__text:last-of-type {
  margin-bottom: 0;
}

.section-errors-in-planning-inner-text-flex__text:last-of-type {
  margin-bottom: 0;
}

.header-page-descr__btn {
  display: inline-block;
  margin-top: 40px;
}

/* header end */

/* section video start */
.section-video {
  margin: 0 0 -100px 0;
  padding: 100px 0 0 0;
}

.section-video__title {
  margin-bottom: 30px;

  text-align: center;
}

.section-video__text {
  margin-bottom: 30px;

  text-align: center;
}

.section-video-wrapper {
  text-align: center;
}

.section-video__iframe {
  display: block;
  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* section video end */

/* section-navigation start */

.section-navigation {
  padding: 200px 0 100px 0;

  background: #42413c;
}

.section-navigation-menu-item__h2 {
  color: #fff;
  font-size: 52px;
}

.section-navigation-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-navigation-menu__item {
  width: 350px;
  max-width: 100%;
  max-height: 340px;
  margin-top: 20px;
  padding: 24px;

  background-color: #f5f4f0;

  transition: background 0.2s;
}

.section-navigation-menu__item:hover {
  background: #fe8a02;
}

.section-navigation-menu__item:nth-of-type(-n+3) {
  margin-top: 0;
}

.section-navigation-menu__item:first-of-type {
  padding: 24px;

  background-color: transparent;
}

.section-navigation-menu-item__link {
  text-decoration: none;
}

.section-navigation-menu-item__h3 {
  margin-bottom: 40px;

  color: #42413c;

  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1;

  transition: color 0.2s;
}

.section-navigation-menu__item:hover .section-navigation-menu-item__h3 {
  color: #fff;
}

.section-navigation-menu-item__h4 {
  margin-bottom: 16px;

  color: #fe8a02;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 1.2;

  transition: color 0.2s;
}

.section-navigation-menu__item:hover .section-navigation-menu-item__h4 {
  color: #fff;
}

.section-navigation-menu-item__text {
  color: #2a2626;

  transition: color 0.2s;
}

.section-navigation-menu__item:hover .section-navigation-menu-item__text {
  color: #fff;
}

/* section-navigation end */

/* section-ikea-effect start */

.section-ikea-effect {
  position: relative;
  z-index: 1;

  background-color: #f5f4f0;
}

.section-inner-text-w-img {
  display: flex;
  justify-content: space-between;
}

.section-inner-text-w-img__img {
  flex-basis: 50%;
}

.section-ikea-effect-inner-text-w-img__text {
  padding-left: 30px;
}

.section-ikea-effect-inner-text-w-img__img img {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.page-overhead {
  font-size: 24px;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.section-ikea-effect-inner-text-w-img-text__overhead {
  color: #908d8b;
}

.page-title-h2 {
  margin: 0;
  padding: 0;

  color: #2a2626;

  font-weight: 400;
  font-size: 60px;
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

.section-ikea-effect-inner-text-w-img-text__title {
  margin-bottom: 30px;
}

.page-subtitle-h2 {
  font-weight: 400;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 1.2;
}

.section-ikea-effect-inner-text-w-img-text__subtitle {
  color: #2a2626;
}

.section-inner-text__title {
  display: flex;
  align-items: center;
  margin: 100px 0 20px 0;
  padding: 5px 10px;

  font-weight: bold;
  font-size: 14px;
  font-family: 'Open Sans', serif;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;
}

.section-ikea-effect-inner-text__title {
  color: #fff;

  background: #b09a81;
}

.section-inner-text-flex {
  display: flex;
  justify-content: space-between;
}

.section-inner-text-flex__col1,
.section-inner-text-flex__col2 {
  flex-basis: 50%;
}

.section-inner-text-flex__col1 {
  margin-right: 30px;
}

/* section-ikea-effect end */

/* section-optimization-effect start */

.section-optimization-effect {
  position: relative;
  z-index: 1;

  background-color: #b09a81;
}

.section-optimization-effect-inner-text-w-img-text__overhead {
  color: #d7ccc0;
}

.section-optimization-effect-inner-text-w-img-text__title {
  margin-bottom: 30px;

  color: #fff;
}

.section-optimization-effect-inner-text-w-img-text__subtitle {
  color: #fff;
}

.section-optimization-effect-inner-text-w-img__img img {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-optimization-effect-inner-text__title {
  color: #b09a81;

  background-color: #fff;
}

.section-optimization-effect-inner-text-flex__text {
  color: #fff;
}

.section-optimization-effect-inner-text-w-img__text {
  padding-right: 30px;
}

/* section-optimization-effect end */

/* section-distortion-of-novelty start */

.section-distortion-of-novelty {
  position: relative;
  z-index: 1;

  background-color: #f5f4f0;
}

.section-distortion-of-novelty-inner-text-w-img-text__overhead {
  color: #908d8b;
}

.section-distortion-of-novelty-inner-text-w-img-text__title {
  margin-bottom: 30px;

  color: #2a2626;
}

.section-distortion-of-novelty-inner-text-w-img-text__subtitle {
  color: #2a2626;
}

.section-distortion-of-novelty-inner-text-w-img__img img {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-distortion-of-novelty-inner-text__title {
  color: #fff;

  background-color: #b09a81;
}

.section-distortion-of-novelty-inner-text-flex__text {
  color: #2a2626;
}

.section-distortion-of-novelty-inner-text-w-img__text {
  padding-left: 30px;
}

/* section-distortion-of-novelty end */

/* section-hyperbolic-depreciation start */

.section-hyperbolic-depreciation {
  position: relative;
  z-index: 1;

  background-color: #b09a81;
}

.section-hyperbolic-depreciation-inner-text-w-img-text__overhead {
  color: #d7ccc0;
}

.section-hyperbolic-depreciation-inner-text-w-img-text__title {
  margin-bottom: 30px;

  color: #fff;
}

.section-hyperbolic-depreciation-inner-text-w-img-text__subtitle {
  color: #fff;
}

.section-hyperbolic-depreciation-inner-text-w-img__img img {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-hyperbolic-depreciation-inner-text__title {
  color: #b09a81;

  background-color: #fff;
}

.section-hyperbolic-depreciation-inner-text-flex__text {
  color: #fff;
}

.section-hyperbolic-depreciation-inner-text-w-img__text {
  padding-right: 30px;
}

/* section-hyperbolic-depreciation end */

/* section-errors-in-planning start */

.section-errors-in-planning {
  position: relative;
  z-index: 1;

  background-color: #f5f4f0;
}

.section-errors-in-planning-inner-text-w-img-text__overhead {
  color: #908d8b;
}

.section-errors-in-planning-inner-text-w-img-text__title {
  margin-bottom: 30px;

  color: #2a2626;
}

.section-errors-in-planning-inner-text-w-img-text__subtitle {
  color: #2a2626;
}

.section-errors-in-planning-inner-text-w-img__img img {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-errors-in-planning-inner-text__title {
  color: #fff;

  background-color: #b09a81;
}

.section-errors-in-planning-inner-text-w-img__text {
  padding-left: 30px;
}

/* section-errors-in-planning end */
